
/*  LAYOUT  */
.wrap {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   margin: 0px;
}

.wrap > * {
   padding: 10px;   
   margin: 10px;
   flex: 1 100%;
   border-radius: 10px;
}

.header {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #1F2937;
   color: white;
}
.footer {
   background: lightblue;
   height: 80px;
}

/*   HEADER   */

.logo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-shrink: 1;
   gap: 5px;
}
.logo > img {
   height: 50px;
   width: 50px;
   border-radius: 90px; 
   margin: 1px 3px;
}

.header > ul {
   display: flex;
   list-style-type: none;
   margin-right: 10px;
   gap: 20px;
}
ul  a:link{
   text-decoration: none;
   color: white;
}
ul a:visited {
   color: white;
}
li > a:hover {
   text-decoration: underline;
}

/*   TOP   */

.top {
   display: flex;
   height: auto;
   flex-flow: row wrap;   
   padding: 20px 0px;
   justify-content: space-around;
   
   background:	 #1F2937;
   color: white;
   text-align: center;
}
.article {
   text-align: center;
   margin: 10px;
   order: 1;
}
.image {
   display: flex;
   order: 2;
}
.image > img {
   height: 200px;
   width: 100%;
   border-radius: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.top .article{
   justify-content: center;
   align-items: center;
}
.viewcont {
   background: transparent;
   margin: 5px;
   padding: 10px;
   border-radius: 10px;
   text-align: center;
   order: 3;
}
.content {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}
.button {
   margin: 10px;
}
.button > a {
   background: transparent;
   border: 2px solid white;
   border-radius: 10px;
   padding: 8px;
   color: white;
   text-decoration: none;
}
.button > a:hover {
   background: white;
   color: black;
}

/*   MEDIA QUERY  */
@media only screen and (min-width: 768px){
   .header { font-size: 20px; }
   .logo > img { margin: 1px 5px;}
   .top {
      align-items: center;
   }
   .header > ul {
      gap: 50px; 
      margin-right: 20px;}
   .article {
      width: 50%;
   }
}
