
/*  LAYOUT  */
.wrap {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   margin: 0px;
}

.wrap > * {
   padding: 10px;   
   margin: 10px;
   flex: 1 100%;
   border-radius: 10px;
}


.header {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #1F2937;
   color: white;
}
.footer {
   background: lightblue;
   height: 70px;
}

/*   HEADER   */

.logo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-shrink: 1;
   gap: 3px;
}
a > img {
   height: 50px;
   width: 50px;
   border-radius: 90px; 
   margin: 1px 3px;
}

.header > ul {
   display: flex;
   list-style-type: none;
   margin-right: 8px;
   gap: 15px;
}
ul  a:link{
   text-decoration: none;
   color: white;
}
ul a:visited {
   color: white;
}
li > a:hover {
   text-decoration: underline;
}

/*   TOP   */

.top {
   display: flex;
   height: auto;
   flex-flow: row wrap;   
   padding: 20px 0px;
   justify-content: space-around;
   
   background:	 #1F2937;
   color: white;
   text-align: center;
}
.article {
   text-align: center;
   margin: 10px;
   order: 1;
}
.image {
   display: flex;
   order: 2;
}
.image > img {
   height: 200px;
   width: 100%;
   border-radius: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.top .article{
   justify-content: center;
   align-items: center;
}
.viewcont {
   background: transparent;
   margin: 5px;
   padding: 10px;
   border-radius: 10px;
   text-align: center;
   order: 3;
}
.content {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}
.button {
   margin: 10px;
}
.button > a {
   background: transparent;
   border: 2px solid white;
   border-radius: 10px;
   padding: 8px;
   color: white;
   text-decoration: none;
}
.button > a:hover {
   background: white;
   color: black;
}

/*   MED   */

.med {
   background: white;
   display: flex;
   height: auto;
   justify-content: center;
   flex-flow: wrap;
}
.section {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   flex: 1 2 auto;   
   gap: 20px;
}
.items > img {
   height: auto;
   width: 200px;
   border-radius: 10px;
}
.drawer {
   display: flex;
   justify-content: center;
   flex-flow: column wrap;
}
.items { flex-shrink: 1; }
.items > p {
   margin: 10px;
}

/*   BOTTOM   */

.bottom {
   background: #E5E7EB;
}

.message > p{
   font-size: 20px;
   padding: 10px 20px;
   margin: 10px 10px;
   text-align: left;
   font-style: italic;
   font-weight: none;
}
.message > span {
   font-weight: bold;
}

/*   INFO   */

.start {
   display: flex;
   flex-flow: row wrap;
   text-align: left;
   justify-content: flex-start;
   align-items: left;
   background: #3882F6;
   padding: 15px;
   border-radius: 10px;
   color: white;
   font-weight: extra-bold;
}

.last {
   padding: 15px;
}
.signup {
   width: 100%;
}
.start > a {
   text-decoration: none;
   margin: 10px;
   border: 2px solid white;
   padding: 10px;
   border-radius: 10px;
   color: white;
}
.start > a:hover { 
   color: black; 
   background: white;
}

.footer {
   display: flex;
   margin: 1px;
   background: #1F2937;
   color: white;
   font-size: 12px;
   justify-content: center;
   align-items: center;
}


/*   MEDIA QUERY  */
@media only screen and (min-width: 600px){
   .header { font-size: 20px; }
   .logo > img { margin: 1px 5px;}
   .top {
      align-items: center;
   }
   .header > ul {
      gap: 50px; 
      margin-right: 20px;}
   .article {
      width: 50%;
   }
   .drawer { flex-flow: row; }
   
   .start {
      justify-content: center;
      align-items: center;
      margin-top: 50px;
   }
   .button {
      padding: 10px 70px;
   }
   .signup {
      width: 70%;
   }
}
